{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        ["module-resolver", { "root": "./src", "config": "./src/config", "App": "./src/App", "constants": "./src/constants" }]
    ],
    "sourceMaps": true
}

