{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", { 
      "root": "./src", 
      "config": "./src/config", 
      "App": "./src/App", 
      "contants":"./src/constants",

      }]
   ],
   "sourceMaps": true 
}
