# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
src/config.js
ios/ezjobTests/ezjobTests.m
android/app/google-services.json
.gitattributes
.flowconfig
.buckconfig
android/app/proguard-rules.pro
android/app/src/main/res/values/styles.xml
android/gradlew
android/keystores/BUCK
android/keystores/debug.keystore.properties
app.json
ios/ezjob.xcodeproj/xcshareddata/xcschemes/ezjob-tvOS.xcscheme
ios/ezjob/AppDelegate.h
ios/ezjob/Base.lproj/LaunchScreen.xib
ios/ezjob/main.m
ios/ezjobTests/ezjobTests.m
ios/ezjobTests/Info.plist
package-lock.json
*.apk
android/app/src/release/res/drawable-xhdpi/node_modules_reactnativegoogleplacesautocomplete_images_powered_by_google_on_white.png
android/app/src/release/res/drawable-xxhdpi/node_modules_reactnativegoogleplacesautocomplete_images_powered_by_google_on_white.png
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
*.meta
src/config.js
android/app/src/main/assets/index.android.bundle.meta
yarn.lock
android/app/src/main/assets/index.android.bundle
.eslintrc.js
.eslintrc
android/
ios/